[Desktop Entry]
Encoding=UTF-8
Name=KUmsl Core
Comment=KUmsl P2P Cryptocurrency
Comment[de]=Verbinde mit dem KUmsl peer-to-peer Netzwerk
Comment[fr]=KUmsl, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KUmsl, eşten eşe kriptografik sanal para birimi
Exec=kumsl-qt %u
Terminal=false
Type=Application
Icon=kumsl128
MimeType=x-scheme-handler/kumsl;
Categories=Office;Finance;
