[Unit]
Description=KUmsl's distributed currency daemon
After=network.target

[Service]
User=kumslcore
Group=kumslcore

Type=forking
PIDFile=/var/lib/kumsld/kumsld.pid
ExecStart=/usr/bin/kumsld -daemon -pid=/var/lib/kumsld/kumsld.pid \
-conf=/etc/kumslcore/kumsl.conf -datadir=/var/lib/kumsld -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
